.fp-wrapper{
font-family: "Source Sans Pro",sans-serif;
}
.fp-wrapper__box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}
/* навигация */
.fp-header__top{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

.fp-header__logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.fp-logo__item{
  display: flex;
  align-items: center;
  color: #333;
  text-shadow: 1px 1px #fff;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.45;
  letter-spacing: 0.0417em;
  background: none;
  text-decoration: none;
}

.fp-header__logo{
  width: 50%;
}

.fp-nav__box{
  display: flex;
  align-content: center;
  justify-content:center;
  min-height: 60px;
  width: 100%;
}

.fp-nav__bar{
  display: flex;
  align-content: center;
  justify-content:space-between;
}


.fp-nav__list{
  display: flex;
  flex-direction: row;
  align-self: center;
}
li.fp-nav__item{
  display: flex;
  align-items: center;
  margin: 0 0.9rem;
  
}
.fp-button{
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: grey;
}
.fp-button:hover{
  color: #eeb588;
}
.fp-button__box{
  color: #666;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.071em;
  text-transform: uppercase;
  line-height: 2.85;
}

/* хиро секция */

.fp-hero-section__box{
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #f0e2d7;
}
.fp-content__img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  background: url('../img/5.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 50%;
  height: 100vh;
  background-attachment: scroll;
  background-size: cover;
}

.fp-content__intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50%;
  min-height: 500px;
}

.fp-content__intro-text{
  margin: 0 45px;
  }

.fp-textbox{
  font-weight: 300;
}
.fp-textbox__wrapper{
  display: flex;
  flex-direction: column;
}

.fp-textbox__layer-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 15px;
}

.fp-textbox__layer-copyright{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.fp-textbox__normal{
  margin-bottom:10px;
  line-height: 1.75;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.0125em;
}

.fp-textbox__normal_header{
  margin-bottom: 32px;
}

.fp-textbox__icon-center{
  align-self:center;
  margin: 20px 0;
  line-height: 0.9375;
  font-size: 2.625rem;
}

.fp-textbox__icon-left{
  align-self:flex-start;
  margin-right: 22px;
  line-height: 0.9375;
  font-size: 2.625rem;
}

.fp-textbox__icon-small-left{
  align-self:flex-start;
  margin-right: 10px;
  font-size: 1rem;
}

.fp-textbox__medium{
  margin-bottom:10px;
  line-height: 1.66;
  font-size: 1.125rem;
}

.fp-textbox__large{
  margin-bottom: 10px;
  line-height: 1.14;
  font-size: 1.625rem;
}

.fp-textbox__large_header{
  margin: 20px 0 16px;
}

.fp-textbox__xlarge{
  margin: 20px 0;
  line-height: 0.9375;
  font-size: 2.625rem;
}

.fp-textbox__xlarge_header{
  margin: 20px 0;
  line-height: 1.3;
}

.fp-textbox_uppercase{
  line-height: 2;
  font-size: 0.75em;
  letter-spacing: 0.167rem;
  text-transform: uppercase;
}

.fp-textbox_text-centering{
  text-align: center;
}

.fp-textbox_text-semibold{
  font-weight: 400;
}

.fp-textbox_text-bold{
  font-weight: 700;
}

.fp-textbox_gold{
  color:#e4ae58;
}

.fp-textbox_darkgold{
  color:#8c681a;
}


.fp-textbox_white{
  color:#FFF;
}

.fp-textbox_black{
  color:#000;
}

.fp-textbox_darkgrey{
  color:#333;
}

.fp-textbox_lightgrey{
  color:#888;
}

.fp-textbox_red{
  color:#933f35;
}


.fp-content__start-button{
  margin-top:70px;
  margin-left:45px;
}
.fp-button_start{
  border: 3px solid #333;
  border-radius: 100px;
  color: #333;
  font-size: 0.8125rem;
  font-weight: bold;
  letter-spacing: 0.123em;
  padding: 15px 40px;
  text-transform: uppercase;
}
.fp-main__box{
  display: flex;
  flex-direction: row;
}
.fp-main__row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fp-main__about{
  display:flex;
  flex-direction: row;
  width:50%;
  min-height: 350px;

}
.fp-main__text-about{
  display: flex;
  flex-direction: column;
  min-height: 350px;
  margin: 20px 40px 30px;
  }

.fp-main__skills{
  display:flex;
  flex-direction: row;
  width: 50%;
  min-height: 350px;
}
.fp-main__skills-img{
  width:50%;
  min-height: 350px;
  background: url('../img/1.jpg') no-repeat;
  background-position: 50% 0;
  background-attachment: scroll;
  background-size: cover;
}
.fp-main__skills-view{
  width: 50%;
  min-height: 350px;
  background: #e4ae58;
}

.fp-progress-bar__wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fp-progress-bar__legend{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fp-progress-bar__text{
  font-size: 0.875rem;
  font-weight: bold;
  color: #000;
}

.fp-progress-bar__text_white{
  color: #FFF;
}

.fp-progress-bar__item{
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
}

.fp-progress-bar__item::-moz-progress-bar{
  background-color: #000;
}

.fp-progress-bar__item::-webkit-progress-value{
  background-color: #000;
}

.fp-progress-bar__item::-webkit-progress-bar{
  background-color: #FFF;
}

.fp-main__skills-text{
  display: flex;
  flex-direction: column;
  margin: 52px 40px;
}

.fp-main__skills_gold{
  background-color: #e4ae58;
}

.fp-main__skills_darkgold{
  background-color: #8a6918;
}

.fp-main__skills_orange{
  background-color: #e9714c;
}

.fp-main__skills_grey{
  background-color: #161616;
}
